@import url(//fonts.googleapis.com/css?family=Raleway:400,500,700|Open+Sans:800);

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'codropsicons';
    src:url('../fonts/codropsicons/codropsicons.eot');
    src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codropsicons/codropsicons.woff') format('woff'),
    url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
    url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
    background: #ECEAEA;
    color: #A5A3A6;
    font-weight: 500;
    font-size: 1em;
    font-family: 'Raleway', Arial, sans-serif;
}

.dark {
    color: #f7f7f7;
}

a {
    color: #e06084;
    text-decoration: none;
    outline: none;
}

a:hover, a:focus,
.codrops-demos a.current-demo {
    color: #A5A3A6;
}

.hidden {
    position: absolute;
    pointer-events: none;
    width: 0;
    height: 0;
    overflow: hidden;
}

/* Header */
.codrops-header {
    padding: 3em 1em 3em;
    text-align: center;
}

.codrops-header h1 {
    font-weight: 800;
    font-size: 3em;
    line-height: 1;
    margin: 0;
    letter-spacing: -1px;
}

.codrops-header h1 span {
    display: block;
    font-size: 0.45em;
    font-weight: 700;
    padding: 1em;
    opacity: 0.6;
}

/* Top Navigation Style */
.codrops-links {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    font-size: 1.25em;
    text-align: center;
}

.codrops-links::after {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: rgba(155,155,155,0.6);
    content: '';
    -webkit-transform: rotate3d(0,0,1,22.5deg);
    transform: rotate3d(0,0,1,22.5deg);
}

.codrops-icon {
    display: inline-block;
    margin: 0.5em;
    padding: 0em 0;
    width: 1.5em;
    text-decoration: none;
}

.codrops-icon span {
    display: none;
}

.codrops-icon:before {
    margin: 0 5px;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'codropsicons';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.codrops-icon--drop:before {
    content: "\e001";
}

.codrops-icon--prev:before {
    content: "\e004";
}

/* Demo links */
.codrops-demos {
    margin: 2em auto 0;
    text-align: center;
    counter-reset: my-counter 0;
}

.codrops-demos a {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-indent: 40px;
    overflow: hidden;
    vertical-align: top;
    font-size: 0;
    position: relative;
    counter-increment: my-counter 1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.codrops-demos a::before {
    content: counter(my-counter);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 15px;
    font-weight: bold;
    line-height: 40px;
    background: rgba(255,255,255,1);
    border-radius: 50%;
    text-align: center;
    text-indent: 0;
}
.dark .codrops-demos a::before {
    background: rgba(75,75,75,0.5);
}
/* Content */
.content {
    padding: 0 1em;
    text-align: center;
}

/* Related demos */
.content-related {
    text-align: center;
    font-weight: bold;
    padding: 3em 0;
}

.media-item {
    display: inline-block;
    padding: 1em;
    vertical-align: top;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.media-item__img {
    opacity: 0.7;
    max-width: 100%;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
    opacity: 1;
}

.media-item__title {
    font-size: 1em;
    margin: 0;
    padding: 0.5em;
}

body.dark #cdawrap {
    background: none;
    border: 1px solid rgba(255,255,255,0.15);
}

body.dark #cdawrap .carbon-text {
    color: #fff;
}

@media screen and (max-width: 50em) {
    .codrops-header {
        padding: 3em 10% 4em;
    }
}

@media screen and (max-width: 40em) {
    .codrops-header h1 {
        font-size: 2.8em;
    }
}